<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - Getaplan</title>
    {% else %}
    <title>Welcome to Getaplan</title>
    {% endif %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>
<body>
    <div class="container">
        <div>Getaplan: <a href="{{ url_for('index') }}">Home</a><a href="{{ url_for('prof_prediction') }}"> Prediction</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
            <div class="row">
            {% block content %}{% endblock %}
            </div>
    </div>
    
</body>
</html>